<div style="width:500px !important;" class="center">

<div class="row">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="First Name" aria-describedby="sizing-addon2" ng-model="registerAccount.firstName">
    </div>

    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Last Name" aria-describedby="sizing-addon2" ng-model="registerAccount.lastName">
    </div>
</div>
<br><br>

You must provide <b>at least</b> one of the following 4 options
<input type="text" class="form-control" placeholder="E.g: https://linkedin.com/in/haklist" aria-describedby="sizing-addon2"  ng-model="registerAccount.userProfile.linkedIn">
<input type="text" class="form-control" placeholder="E.g: https://github.com/haklist" aria-describedby="sizing-addon2"  ng-model="registerAccount.userProfile.gitHub">
<input type="text" class="form-control" placeholder="E.g: https://twitter.com/haklist" aria-describedby="sizing-addon2"  ng-model="registerAccount.userProfile.twitter">
<input type="text" class="form-control" placeholder="Personal website e.g: http://myportfolio.com" aria-describedby="sizing-addon2"  ng-model="registerAccount.userProfile.personalSite">




<br><br>




<div class="input-group">
    <input type="text" class="form-control" ng-model="selectCountry.name" placeholder="Choose a country" aria-label="Text input with segmented button dropdown">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> <span class="sr-only">Toggle Dropdown</span></button>
        <ul class="dropdown-menu dropdown-menu-right scrollable-menu">
            <li ng-repeat="country in countries"><a href="#" ng-click="country_select($index)">{{country.name}}</a></li>
        </ul>
    </div>
</div>
<input type="text" class="form-control" placeholder="Where are you working at (Leave it empty will be filled with 'Hire Me'" aria-label="Text input with segmented button dropdown"  ng-model="registerAccount.userProfile.company">
<input type="text" class="form-control" placeholder="E-mail Address" aria-label="Text input with segmented button dropdown" ng-model="registerAccount.email">
<input ng-if="!editmode" type="text" class="form-control" placeholder="Password" aria-label="Text input with segmented button dropdown" ng-model="registerAccount.password">

<br><br>
You must provide <b>at least</b> one of the following <b>specialties</b>. Maximal four.
<div class="signup_specialty_box">
    <span ng-repeat="tag in tags" ng-class="tag.selected?'':'unselected'" ng-click="tag.selected=!tag.selected">{{tag.name}}</span>
</div>
<br><br><br>

<button class="round_button center" ng-click="confirm()">
    <span ng-if="editmode">Update Account</span>
    <span ng-if="!editmode">Create Account</span>
</button>

</div>
