
    <div style="border: none;
                margin: auto;
                width: 67%;">
        <br/><br/>
        <h1 style="    color: white;text-align: center;font-family: 'roboto';font-weight: 100;">We Offer Contests that Lead to Jobs <br/>for Developers</h1>
        <br/>
        <h4 style=" text-align: center;
                    font-family: 'roboto';
                    font-weight: 300;
                    color: #686868;">
            Don't have much work experience? Do you learn quickly and love solving problems?
            If you are passionate about what you're doing, you've arrived at the right place!
            We offer contests from over 100+ startups so get ready!

        </h4>

        <br/><br/>
        <h5 style=" text-align: center;
                    font-family: 'roboto';
                    font-weight: 300;
                    color: white;
                    font-style: italic;">
            Win Big for Free

        </h5>

        <div style="margin: 0 auto;
                    width: 120px;">

            <button ng-if="!alreadyRegistered" style="margin:auto;width: 130px;"
               class="dropdown-toggle round_button add_yourself"
               ng-click="register()" >Register Now</button>

            <button ng-if="alreadyRegistered"  style="margin:auto;width: 130px;background-color:#005400"
               class="dropdown-toggle round_button add_yourself">Successfully Registered</button>
        </div>

    </div>


