
    <div style="border: none;
                margin: auto;
                width: 67%;">
        <br/><br/>
        <h1 style="    color: white;text-align: center;font-family: 'roboto';font-weight: 100;">We Offer Contests that Lead to Jobs <br/>for Developers</h1>
        <br/>
        <h4 style=" text-align: center;
                    font-family: 'roboto';
                    font-weight: 300;
                    color: #686868;">
            Don't have much work experience? Do you learn quickly and love solving problems?
            If you are passionate about what you're doing, you've arrived at the right place!
            We offer contests from over 100+ startups so get ready!

        </h4>

        <br/><br/>
        <h5 style=" text-align: center;
                    font-family: 'roboto';
                    font-weight: 300;
                    color: white;
                    font-style: italic;">
            Win Big for Free

        </h5>

        <div style="margin: 0 auto;
                    width: 220px;">

            <button ng-if="!alreadyRegistered"
               class="dropdown-toggle round_button add_yourself contest_reg_button"
               ng-click="register($event)" >Register Now</button>

            <button ng-if="alreadyRegistered"
               class="dropdown-toggle round_button add_yourself contest_reg_button contest_already_reg">Successfully Registered</button>
        </div>

    </div>


    <div class="modal fade" id="confirmmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <h1 style="font-family: 'roboto';font-weight: 300;font-size: 39px;text-align:center">You’ve Successfully Registered, We will email you once the contest is ready!</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Got it</button>
                </div>
            </div>
        </div>
    </div>
