
    <div class="page-header">
        <h2>Discover Software Engineer from Everywhere</h2>
    </div>

    <div class="row" ng-repeat="profile in userProfiles" ng-if="$index % 3 == 0">
        <div class="col-md-4" ng-repeat="i in [0,1,2]">
            <div class="card mycard" ng-if="($parent.$index+i)<userProfiles.length">
                <img class="card-img-top"
                     src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=monsterid&amp;f=y"
                     alt="Card image cap">
                <div class="card-block">
                    <h3 class="card-title">{{userProfiles[$parent.$index+i].firstName}} {{userProfiles[$parent.$index+i].lastName}}</h3>
                    <h6 class="card-title">Worked at {{userProfiles[$parent.$index+i].company}}</h6>
                    <div style="margin-top: 30px;">
                        <h6><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{userProfiles[$parent.$index+i].country}}</h6>
                        <h6><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{userProfiles[$parent.$index+i].email}}</h6>
                        <h6><span class="glyphicon glyphicon-link" aria-hidden="true"></span>{{userProfiles[$parent.$index+i].website}}</h6>
                    </div>

                    <hr align="CENTER" style="border-top: 1px solid #D2CBCB;">

                    <h6>SPECIALTY</h6>
                    <div class="specialty_box">
                        <span>Angular</span>
                        <span>ReactJs</span>
                        <span>CSS</span>
                        <span>HTML</span>
                    </div>
                </div>
            </div>
        </div><!--end one card-->
    </div><!--end one card row-->


    <div class="center paging">
        <button class="round_button leftbtn" ng-click="loadPage(page - 1)">Newer Posts</button><button class="round_button rightbtn" ng-click="loadPage(page + 1)">Older Posts</button>
    </div>
