
    <div class="page-header">
        <h2 class="header">Discover Software Engineer from Everywhere</h2>
    </div>

    <div class="row" ng-repeat="profile in userProfiles" ng-if="$index % 3 == 0">
        <div class="col-md-4" ng-repeat="i in getProfileListNumArr($index)" >
            <div class="card mycard" >
                <img class="card-img-top"
                     ng-src="{{'api/userProfiles/login/'+userProfiles[$parent.$index+i].login+'/photo'}}"
                     on-error-src="assets/images/defaul_avatar.png"
                     alt="Card image cap">
                <div class="card_social_block">
                    <a class="fa fa-linkedin" href="{{userProfiles[$parent.$index+i].linkedIn}}"></a>
                    <a class="fa fa-github" href="{{userProfiles[$parent.$index+i].gitHub}}"></a>
                    <a class="fa fa-twitter" href="{{userProfiles[$parent.$index+i].twitter}}"></a>
                </div>
                <div class="card-block">
                    <h2 class="card-title" style="font-size:26px">{{userProfiles[$parent.$index+i].firstName}} {{userProfiles[$parent.$index+i].lastName}}</h2>
                    <h6 class="card-title" style="font-size: 14px;font-weight: normal;">Worked at {{userProfiles[$parent.$index+i].company}}</h6>
                    <div style="margin-top: 30px;">
                        <h6 style="font-weight:normal"><span class="fa fa-map-marker" style="font-size: 19px;font-weight: normal;color:gray;    padding-right: 3px;" aria-hidden="true"></span>    {{lookupCountryName(userProfiles[$parent.$index+i].country)}}</h6>
                        <h6 style="color:#517AC6;font-weight:normal"><span class="fa fa-envelope-o" style="font-size: 12px;font-weight: normal;color:gray;    padding-right: 3px;" aria-hidden="true"></span>    {{userProfiles[$parent.$index+i].email}}</h6>
                        <h6 style="color:#517AC6;font-weight:normal"><span class="fa fa-link" style="font-size: 12px;font-weight: normal;color:gray;    padding-right: 3px;" aria-hidden="true"></span>    {{userProfiles[$parent.$index+i].personalSite}}</h6>
                    </div>

                    <hr align="CENTER" style="border-top: 1px solid #D2CBCB;">

                    <h6 style="margin-top: 30px;margin-bottom: 25px;">SPECIALTY</h6>
                    <div class="specialty_box">
                        <span ng-repeat="tag in userProfiles[$parent.$index+i].tags">{{tag}}</span>
                    </div>
                </div>
            </div>
        </div><!--end one card-->
    </div><!--end one card row-->


    <div class="center paging">
        <button class="round_button leftbtn" ng-click="loadPage(page - 1)">Previous Page</button><button class="round_button rightbtn" ng-click="loadPage(page + 1)">Next Page</button>
    </div>
